n8n/PolicyAi - Executive Chat.json
{
  "name": "PolicyAi - Executive Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "705f01a7-0cc9-41c4-8ecb-20c6e7f8f0e3",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        400
      ],
      "id": "5aa0a0b0-b72a-4900-8b96-a71a52b0ce0a",
      "name": "Webhook",
      "webhookId": "705f01a7-0cc9-41c4-8ecb-20c6e7f8f0e3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GnNeqFZb61lotAW5",
          "name": "PolicyAI-Header-Auth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are tasked with answering a question using provided chunks of information. \n\nYour goal is to provide an accurate answer from these chunks while citing your sources. When you use information from a specific chunk in your answer, you must cite it using the specified JSON output format.\n\nThe citation should appear at the end of the sentence or paragraph where the information is used.\n\nTake note of the index of the chunk returned from the vector store, the source_id of the chunk as well as the lines from and lines to... that way we can trace back the cited source.\n\nIf you cannot answer the question using the provided chunks, say \"Sorry I don't know\".\n\nImportant: You MUST trigger the \"Supabase Vector Store\" tool\nImportant: Only based your answers on information in the provided chunks from the vector store"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        288,
        320
      ],
      "id": "a229c237-0fdf-4e8d-9cf7-b67e6cc5e4e3",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        400,
        704
      ],
      "id": "146e8fe8-1d8c-453b-a70b-0b3771f6df4d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "V7h6U5W9dPz5FhO6",
          "name": "Policy-AI-Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "retrieve_knowledge",
        "toolDescription": "Retrieve releveant information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "policyType",
                "value": "administrator"
              },
              {
                "name": "policyType",
                "value": "executive"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        560,
        640
      ],
      "id": "b040600d-7b02-489b-ab6b-8cc5999a4548",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Vs06msxZevlHsCXv",
          "name": "PolicyAI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        832
      ],
      "id": "c03cf514-3bd7-49ed-b196-4e0dcd0fca49",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mlSSOzkIWj0vcevA",
          "name": "PolicyAI-n8n"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": [\n  {\n    \"text\": \"Formula 1 (also known as Formula One) is a premier motorsport championship organized by the FIA...\",\n    \"citations\": [\n      {\n        \"chunk_index\": 0,\n        \"chunk_source_id\": \"701bd18c-2531-48e5-8d09-df22e7cc3d21\",\n        \"chunk_lines_from\": 25,\n        \"chunk_lines_to\": 50\n      }\n    ]\n  },\n  {\n    \"text\": \"Formula 1 (also known as Formula One) is a premier motorsport championship organized by the FIA...\",\n    \"citations\": [\n      {\n        \"chunk_index\": 0,\n        \"chunk_source_id\": \"701bd18c-2531-48e5-8d09-df22e7cc3d21\",\n        \"chunk_lines_from\": 25,\n        \"chunk_lines_to\": 50\n      }\n    ]\n  }\n]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        864,
        528
      ],
      "id": "03977384-aba5-4bb4-a0cb-486536e3f475",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        704
      ],
      "id": "a47b64c0-c932-40b0-836e-fdf95a549a9e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mlSSOzkIWj0vcevA",
          "name": "PolicyAI-n8n"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-prod.coralshades.ai",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.69.4)",
            "content-length": "229",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "authorization": "Wdt?1997",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2406:da1c:136:5d07:beb2:3b34:9a56:b2e",
            "cf-ipcountry": "AU",
            "cf-ray": "9831575d9aa2dac6-SYD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "774aee85-1e40-4488-a591-0185a1f32cce",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "2406:da1c:136:5d07:beb2:3b34:9a56:b2e",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "session_id": "2ee3ed7a-dc38-48ba-8706-9cf802b0de96",
            "message": "What are executive Performance Improvement Process?",
            "user_id": "716b6bd4-db5d-4d73-a116-87e539c95852",
            "user_role": "executive",
            "timestamp": "2025-09-22T11:07:53.735Z"
          },
          "webhookUrl": "https://n8n-prod.coralshades.ai/webhook/705f01a7-0cc9-41c4-8ecb-20c6e7f8f0e3",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [],
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b25a7c95-861e-430c-b973-7f44f3586d2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1611a0f2d6b428cf9dbc76c998e83bf12ee9b56fcdc3e5a977e5ca4acf1cbdb0"
  },
  "id": "sGJpWkPMbtz5D2nS",
  "tags": []
}